* {
  margin: 0;
}

.topbar {
  width: 95%;
  height: 76px;
  background-color: rgba(19, 19, 19, 1);
  display: flex;
  align-items: center;         
  justify-content: space-between;
  padding: 0 40px;          
}

.logo {
  width: 44px;
  height: 20px;
  color: rgba(255, 255, 255, 1);
  font-family: Roboto-Regular;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-align: center;
  line-height: 20px;
}

.logobar {
  display: flex;
  align-items: center;
  gap: 20px;
}


@mixin btn {
  width: 116px;
  height: 40px;
  border-radius: 6px;
  background-color: rgba(36, 36, 36, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
  
}


.btn-link,
.btn-dash,
.btn-post {
  @include btn;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(36, 36, 36, 1) !important; 
    color: rgba(255, 255, 255, 1) !important;      
    text-decoration: none !important;  
    border:none;           
  }
}

.top-profile {
  width: 36px;
  height: 36px;
  border-radius: 9px;
  background-color: azure;
  cursor: pointer;
}
