.signin-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

.signin-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 40px;
}

.signin-form-container {
  width: 100%;
  max-width: 400px;
}

.signin-title {
  text-align: center;
  margin-bottom: 30px;
  width: 390px;
  height: 24px;
  color: rgba(24, 28, 50, 1);
  font-family: Roboto-Regular;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.24px;
  line-height: 24px;
}

.signin-form .signin-options {
  width: 390px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forget-link {
  width: 112px;
  height: 14px;
  color: rgba(62, 151, 255, 1);
  font-family: Roboto-Regular;
  font-size: 13px;
  font-weight: 400;
  text-align: right;
  line-height: 14px;
  white-space: nowrap;
  margin-left: 180px;
}

.savepassword-text {
  width: 88px;
  height: 14px;
  color: rgba(94, 98, 120, 1);
  font-family: Roboto-Regular;
  font-size: 13px;
  font-weight: 400;
}

.input {
  width: 390px;
  height: 38px;
  border: 1px solid rgba(225, 227, 234, 1);
  border-radius: 6px;
  color: rgba(126, 130, 153, 1);
  font-size: 12px;
  font-weight: 400;
}

.button {
  width: 390px;
  height: 38px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
}

.signinup-text {
  display: block;
  margin-top: 12px;
  width: 390px;
  height: 14px;
  font-size: 14px;
  text-align: center;
  color: rgba(161, 165, 183, 1);
  font-family: Roboto-Regular;
  font-weight: 400;
  line-height: 14px;
}

.signinup-text a {
  color: #3b82f6;
  font-weight: 500;
}

.signin-right {
  flex: 1;
  background-color: #1890ff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.info-box {
  max-width: 400px;
  text-align: center;
}

.info-box img {
  max-width: 80%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .signin-page {
    flex-direction: column;
  }

  .signin-left,
  .signin-right {
    flex: none;
    width: 100%;
    padding: 20px;
  }
}

.signup-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: #ffffff;
}

.form-div {
  width: 60%;
  margin: auto;
}

.signup-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 200px;
  width: 50%;
}

.signup-form {
  width: 390px;
  height: 304px;
  margin-top: 20px;
}

.signup-form .name-row {
  display: flex;
  gap: 20px;
}

.signup-form .name-row input {
  width: 190px;
  height: 38px;
  border: 1px solid rgba(225, 227, 234, 1);
  border-radius: 6px;
  color: rgba(126, 130, 153, 1);
  font-size: 12px;
  font-weight: 400;
}

.signup-btn {
  width: 100%;
  margin-top: 12px;
  background-color: #3b82f6 !important;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
}

.signup-right {
  flex: 1;
  background-color: #1890ff;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
